.home {
  min-height: 70vh;
  /* width: 100vw; */
  background-image: url("./images/byteproc-slider2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.outer {
  min-height: 70vh;
  background-color: black;
  opacity: 0.5;
}
.details{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(240, 233, 233);
    padding: 0 15%;
}
@media (max-width:768px){
  .details{
    padding: 0 2.5%;
  }
}
